@import url(assets/style/global.css);

.normal {
    background-color: #efefef;
}

.perfil {
    object-fit: cover;
    display: flex;
    width: 130px;
    height: 130px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
}

.btn-se {
    border-radius: 5px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    object-fit: cover;
    position: relative;
    transition: 0.3s;
}

.btn-se:focus {
    outline: none;
    background-color: #efefef;
}

.container-perfil {
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    /* Oculta a imagem de sobreposição */
    transition: 0.3s;
}


element.style {
    height: 100px;
    /* background-color: red; */
    height: 500px;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* Inicialmente, a imagem de sobreposição é invisível */
    transition: 0.3s;

}

.container-perfil:hover .overlay {
    opacity: 1;
    /* Torna a imagem de sobreposição visível no hover */
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

.container-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
    height: 95vh;
    margin-bottom: 10px;
    flex-shrink: 0;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#progress-bar1 {
    background-color: #F13C4E;
    width: 25%;
    height: 16px;
    transition: all 100ms ease-in-out;
    border-radius: 5px;
}

#progress-bar2 {
    background-color: #27AE61;
    width: 50%;
    height: 16px;
    transition: all 100ms ease-in-out;
    border-radius: 5px;
}

#progress-bar3 {
    background-color: #F5C400;
    width: 100%;
    height: 16px;
    transition: all 100ms ease-in-out;
    border-radius: 5px;
}

#progress-bar2 h1 {
    color: #000;
    text-align: right;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

#progress-bar1 h1 {
    color: #000;
    text-align: right;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

#progress-bar3 h1 {
    color: #000;
    text-align: right;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.progress1, .progress2, .progress3 {
    background-color: #efefef;
    width: 135px;
    height: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 10px;
}



.container-section h2 {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
}

.container2 {
    /* top: 20px;
    position: absolute;
    left: 10px; */
    height: 90%;
    /* background-color: red; */
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.desafios h1 {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.desafios {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;

}

.desafios p {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desafios button {
    display: inline-flex;
    padding: 8px 40px 8px 39px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #8854D1;
    color: #FFF;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s;

}

.desafios button:hover {
    background: #B898E3;
}

.nome {
    /* background-color: green; */
    position: relative;
    top: 10px;
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 10px;

}

.nome h1 {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nome p {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.container-header {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background: #FFF;
}

/* .bdname{
   
} */
