@import url(assets/style/global.css);
@import url(style.css);


.funcionalidades {
   justify-content: flex-start;
    flex-direction: column;
}

.func-menu {
    margin-left: 50px;
}

.exibir{
    /* background-color: aliceblue; */
    max-height: 100%;
    overflow: auto;
}