
@import url(../../assets/style/global.css);
@import url(../inicio/style.css);


.funcionalidades {
   justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.func-menu {
    margin-left: 20px;
}

.exibir{
   background-color: red;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   height: 100%;

}

.wrapper{
    background-color: aliceblue;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
}


