@import url('../../assets/style/global.css');

.container-config h1 {
    color: #000;
    font-family: Barlow;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
}

.container-config {
    width: 90%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.config-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
}

.info {
    width: 80%;
    height: 60px;
}

.campo4, .campo1, .campo2, .campo3 {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;

}


.config-form label {
    width: 26%;
    color: #000;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    height: 50px;
}

.config-form input {
    background-color: transparent;
    width: 300px;
    color: #000;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.input-container {
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.line {
    width: 900px;
    height: 1px;
    background: #9E9E9E;
}

/* .btn {
    color: #2D99DA;
    text-align: left;
    font-family: Barlow;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 100px;
} */

h4 a{
    color: #F13C4E;
    text-align: left;
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 150px;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #F13C4E;
}