@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Poppins:wght@500&display=swap');

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('fundo.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.fundoUm{
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 0;
}
.fundoDois{
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 0;
}
.fundoTres{
    position: absolute;
    right: 0;
    top: 70%;
    z-index: 0;
}
.wrapper{
    z-index: 99;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:7rem;
    padding-bottom:7rem;

} 

.wrapperContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}
.wrapperContent:last-child{
    margin-bottom: 0;
}

.wrapperImg{
    width: 50%;
    height: 100%;
    
}
.wrapperImg img{
    width: 100%;
    object-fit: contain;
}

.wrapperText{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 450px;
}

.wrapperText h1{
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-family: 'Press Start 2P';
    /* text-wrap: wrap; */
}

.wrapperText p {
    font-size: 1.2rem;
    font-family: 'Barlow';
  
}

@media screen and (min-width:1920px) {
    .wrapperImg{
        width: 40%;
    
    }
    .wrapperContent{
        margin-bottom: 15rem;
    }
}
@media screen and (min-width:1200px) {
    .wrapperContent:nth-child(even){
        flex-direction: row-reverse;
    }
    .wrapperText h1{
        line-height: 3.2rem;
    }
}

@media screen and (max-width:1200px) {
    .container{
        background-size: auto;
    }
    .wrapperContent{
        flex-direction: column-reverse;
        margin-bottom: 10rem;
    }
    .wrapper{
        width: 80%;
    }
    .wrapperText{
        width: 90%;
    }
    .wrapperImg{
        width: 50%;
    }

}
@media screen and (max-width:750px) {
    .wrapperImg{
        width: 70%;
    }
    .wrapperText{
        width: 100%;
    
    }
    .wrapperContent{
        margin-bottom: 5rem;
    }
    .wrapperText h1{
        font-size:2rem;
        line-height: 30px;
    }
    .wrapper{
        width: 85%;
    }
    .fundoUm, .fundoDois, .fundoTres{
        display: none;
    }
}

@media screen and (max-width:470px) {
    .wrapperText h1{
        font-size:1.6rem;
    }
    .wrapperText{
        width: 100%;
    }
}
@media screen and (max-width:400px) {
    .wrapperText h1{
        font-size:1.5rem;
    }
}
