@import url(../login/css/style.css);

.container-quiz {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.50);
    width: 900px;
    height: 560px;
    flex-shrink: 0;
}

.header-quiz {
    display: flex;
    width: 100%;
    height: 100px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    background-color: #FFF;
    justify-content: center;
}

.header-quiz h1 {
    color: #000;
    text-align: center;
    font-family: Barlow;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#progress-bar {
    background-color: #FF3598;
    width: 20%;
    height: 10px;
    transition: all 100ms ease-in-out;
}

.container-progress {
    background-color: #8FCCF7;
    width: 100%;
    height: 10px;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li label {
    cursor: pointer;
}

ul li {

    font-size: 1.2rem;
    margin: 1rem 0;
}

button {
    border-radius: 5px;
    background: #45AAF2;
    cursor: pointer;
    display: flex;
    width: 250px;
    height: 60px;
    padding: 16.701px 65.106px;
    justify-content: center;
    align-items: center;
    border: none;
}

button:hover {
    background-color: rgb(175, 33, 33);
}

.btn-quiz{
    display: flex;
    width: 80%;
    height: 24%;
    align-items: end;
    /* background-color: red; */
    justify-content: end;
    
}