a {
    color: inherit;
}

.dentro{
    position: fixed;
    width: 100%;
    display: inline;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 5%;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 15px;
}

.logo {
    width: 150px;
    flex-shrink: 0;
}

.main button {
    display: inline-block;
}

.main button:hover {
    cursor: pointer;
}

.main a {
    padding-left: 20px;
}

.b-main {
    display: flex;
    width: 130px;
    height: 45px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    font-size: 15px;
}

#b1 {
    background-color: #BFE2FA;
}

#b2 {
    background-color: #2D99DA;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li:hover {
    color: #2D99DA;
    cursor: pointer;
}

#menu-icon {
    font-size: 32px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.img-menu2{
    width: 30px;
}

.img-menu{
    width: 35px;
}

.img-menu, .img-menu2 a{
    cursor: url('../../pages/inicio/pointer.svg'), pointer;

}

a:hover{
    cursor: url('../../pages/inicio/pointer.svg'), pointer;

}
/*inicio responsividade*/
@media (max-width: 1280px) {
    header {
        padding: 8px 2%;
    }

    .nav-links li {
        display: inline-block;
        padding: 0px 10px;
    }
}

/*menu suspenso*/
@media (max-width: 1090px) {
    header {
        padding: 8px 2%;
    }

    #menu-icon {
        padding-left: 20px;
        display: inline-block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 230px;
        height: 180px;
        background-color: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 5px;
        transition: all .50s ease;
    }

    .nav-links li {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .nav-links li:hover {
        color: #2D99DA;
        cursor: pointer;
        transform: translateX(5px);
    }

    .nav-links.open {
        right: 2%;
    }
}

/*responsividade celular*/
@media (max-width: 550px) {
    .logo {
        width: 100px
    }

    header {
        height: 70px;
    }

    .b-main {
        width: 85px;
        height: 40px;
        font-size: 14px;
    }

    .main a {
        padding-left: 10px;
    }

    #menu-icon {
        padding-left: 0px;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 90px
    }

    .b-main {
        width: 75px;
        height: 35px;
    }
}