@import url(../../assets/style/global.css);
@import url(../inicio/style.css);


.funcionalidades {
   justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    /* background-color: aqua; */
}

.func-menu {
    margin-left: 20px;
}

.exibir{
    /* background-color: red; */
    max-height: 100%;
    overflow: auto;
}

.teste{
 display: flex;
 flex-direction: column;
 width: 25%;
}

.rodape-btn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}