/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #efefef;
  /* display: ; */
}

::selection{
  color: #EFEFEF;
  background: #EFEFEF;
}
.container-wrapper{
  /* background-color: red; */
  width: 300px;
  display: inline-grid;
  margin-top: -45px;
  grid-template-columns: repeat(auto-fill, 400px);

}
.wrapper{
  margin: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 265px);
  max-height: 600px;
  /* background-color: aqua; */
  overflow: auto;
}

.wrapper li, .note{
  height: 250px;
  list-style: none;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

/* icon add */
.add-box, .icon, .bottom-content, 
.popup, header, .settings .menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-box{
  cursor: url("../inicio/pointer.svg"), pointer;
  flex-direction: column;
  justify-content: center;
}
.add-box .icon{
  height: 78px;
  width: 78px;
  color: #2b2b2b;
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px solid #2b2b2b;
  /* border: 2px dashed #2b2b2b; */
}

.add-box p{
  color: #2b2b2b;
  font-weight: 500;
  margin-top: 20px;
}

li.add-box {
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 50px;
  border-radius: 5px;
}

/* fim icon add */


.note{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}
.note .details{
  max-height: 165px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* .note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar{
  width: 0;
}
.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar{
  width: 5px;
}
.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
} */

.note p{
  font-size: 22px;
  font-weight: 500;
}

.desc{
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
    white-space: nowrap; 
    display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}

.note .bottom-content{
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.bottom-content span{
  color: #6D6D6D;
  font-size: 14px;
}
.bottom-content .settings{
  position: relative;
}
.bottom-content .settings i{
  color: #6D6D6D;
  cursor: url("../inicio/pointer.svg"), pointer;
  font-size: 15px;
}


.settings .menu{
  z-index: 1;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  width: 150px;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}

.note{
  transition: background-color 0.5s ease;
}

.dark .note{
  background: #DCCCF2;
    color: #2b2b2b;
}

.content label{
  user-select: none;
  cursor: url("../inicio/pointer.svg"), pointer;
  display: flex;
  font-size: 16px;
  align-items: flex-end;
  justify-content: normal;
  width: 100px;
  height: 20px;
  /* background-color: red; */
  margin-top: 50px;
}

.toggle-container{
  position: fixed;
  top: 10px;
  right: 10px;
}

.toggle-container2{
  position: fixed;
  top: 45px;
  right: 10px;
}

/* 
input{
  visibility: hidden;
} */

.settings.show .menu{
  transform: scale(1);
}

.settings .menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: url("../inicio/pointer.svg"), pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
}

/* Dentro */
.menu li:last-child{
  margin-bottom: 0;
}
.menu li:hover{
  background: #f5f5f5;
}
.menu li i{
  padding-right: 8px;
}

.popup-box{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(2px);
}
.popup-box .popup{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 100%;
  max-width: 800px;
  max-height: 500px;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.95);
}

.popup-box, .popup{
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}


.popup-box.show, .popup-box.show .popup{
  opacity: 1;
  pointer-events: auto;
}

.popup-box.show .popup{
  transform: translate(-50%, -50%) scale(1);
}

.popup .content{
  border-radius: 5px;
  background: #fff;
  width: calc(100% - 15px);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.content header{
  padding: 15px 25px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    height: 100px;
  
  
}
.content header p{
  font-size: 20px;
  font-weight: 500;
}
.content header i{
  color: #8b8989;
  cursor: url("../inicio/pointer.svg"), pointer;
  font-size: 23px;
}
.content form{
  margin: 15px 25px 35px;
}

.description{
  margin-top: 30px;
  padding: 0px 20px;
}


form .row label{
  font-size: 18px;
  display: inline;
  margin-bottom: 6px;
  font-weight: bold;
}
form :where(textarea){
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: none;
}

.description label{
  margin-left: 15px;
}


form :where(input){
  height: 50px;
  width: 80%;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: none;
  display: inline;
  background-color: transparent;
}


form :where(textarea):focus{
  box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}



form .row textarea{
  height: 300px;
  resize: none;
  padding: 8px 15px;
  background-color: transparent;
}

.row{
  margin-top: -30px;
}

.content form button{
  width: 200px;
  height: 50px;
  color: #fff;
  outline: none;
  border: none;
  cursor: url("../inicio/pointer.svg"), pointer;
  font-size: 17px;
  border-radius: 4px;
  background: #B898E3;
}

#notes-container{
  /* background-color: red; */
  max-height: 655px;
  overflow: auto;
  overflow-x: hidden;
  margin-left: 0px;
  position: absolute;
  left: 38%;
  top: 190px;
  /* margin-left: 0px; */
}

/* Estilos para navegadores baseados em WebKit (Chrome, Safari, etc.) */
#notes-container::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
}

#notes-container::-webkit-scrollbar-thumb {
  background-color: #efefef; /* Cor da thumb (parte que você arrasta) */
  border-radius: 6px; /* Raio da borda da thumb */
}

#notes-container::-webkit-scrollbar-track {
  background-color: #fff; /* Cor de fundo da scrollbar */
}

/* Estilos para navegadores baseados na Mozilla (Firefox) */
#notes-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1; /* Cor da thumb e cor de fundo */
}

/* Estilos para navegadores baseados na Microsoft (Edge) */
#notes-container {
  -ms-overflow-style: none; /* Remove scrollbar padrão do Edge */
}

#notes-container::-ms-scrollbar-thumb {
  background-color: #888; /* Cor da thumb (parte que você arrasta) */
}

#notes-container::-ms-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo da scrollbar */
}


.note p{
  text-align: left;
}

.notes-container{
  position: relative;
  left: -40px;
}


@media (max-width: 660px){
  .wrapper{
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .popup-box .popup{
    max-width: calc(100% - 15px);
  }
  .bottom-content .settings i{
    font-size: 17px;
  }
}