@import url(../login/css/style.css);


.container-cad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 10px;
    width: 900px;
    height: 580px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}

#confirmarSenha, #senha{
    width: 80%;
}

.campo5, .campo4, .campo1, .campo2, .campo3{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 45px;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.11);

}

.campo4, .campo5{
    justify-content: space-around;
}


input:focus{
    box-shadow: none;
}

.input-form {
    width: 370px;
    height: 100%;
    /* background-color: green; */
    margin-right: 40px;
    display: flex;
    gap: 10px;

}

.form-container {
    width: 450px;
    height: 580px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
}

.img-form {
    gap: 60px;
}

.link-log a {
    text-align: center;
    height: 48px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000;
    /* background-color: blue; */
}

.link-log a:visited {
    color: #000;
}

input{
    height: 35px;
    width: 90%;
}


.campo1{
    margin-top: 0px;
}

label{
    font-size: 16px;
}

.btn-login {
    margin-top: 10px;
}

.btn-login {
    width: 180px;
    padding: 10px 0px;
}

.foquete img{
    width: 76%;
}