#minhaDiv {
    width: 200px;
    height: 100px;
    background-color: #3498db; /* Cor inicial */
    text-align: center;
    line-height: 100px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; /* Adiciona uma transição suave */
}
