.pontuacao-barra {
    width: 300px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #000;
    margin: 20px;
}

.pontuacao-progresso {
    height: 100%;
    width: 0; /* A largura será ajustada com base na pontuação */
    background-color: #3498db;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
}
