@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Poppins&display=swap');

* {
    font-family: "Barlow";
}

body {
    background-color: #efefef;
}

.container {
    display: inline;
}

h3 {
    text-align: center;
    margin-top: 6px;
    font-size: 19px;
}

.container button {
    border-radius: 5px;
    background: #2D99DA;
    display: flex;
    width: 100px;
    height: 30px;
    /* padding: 9px 31px 8px 31px; */
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.product {
    background-color: #FFF;
    width: 165px;
    height: 240px;
    padding: 10px;
    display: inline-block;
    /* Adicione esta linha */
    margin: 10px;
    /* Espaçamento entre os produtos */
    left: 80px;
    position: relative;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.product img, .product button {
    margin: auto;
    display: block;
}

/* img{
      background-color: #111;
    } */
/* p{
      text-align: center;
    } */

.moeda {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.moeda img {
    width: 25px;
}

.container-valor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.all h1 {
    text-align: left;
    margin-left: 100px;
    color: #000;
    font-family: Barlow;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.all h4 {
    text-align: left;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* color: #2b2b2b; */
    /* opacity: 60%; */
    color: #000;
    /* text-align: center; */
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 100px;
    margin-bottom: 20px;
}

@media (max-width: 890px) {
    .product {
        width: 30%;
        /* Defina a largura para 100% para ocupar toda a largura da tela */
        margin: 5px;
        /* Espaçamento menor */
        position: relative;
        left: 5px;
    }
}

@media (max-width: 780px) {
    .product {
        width: 30%;
        /* Defina a largura para 100% para ocupar toda a largura da tela */
        margin: 5px;
        /* Espaçamento menor */
        position: relative;
        left: 65px;
    }
}